$colorczarny: black;
$colorbialy: white;
$color3: rgb(56, 56, 56);
$color4: rgb(143, 143, 143);
$color5: black;


$font-1: Arial, Helvetica, sans-serif;

$fast-transition: .1s;
$short-transition: .2s;
$medium-transition: .3s;
$long-transition: .4s;

$font-size-1: 0.6em;
$font-size-2: 0.8em;
$font-size-3: 1em;
$font-size-4: 1.2em;
$font-size-5: 1.4em;
