.footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  background-color: $color3;
  color: $colorbialy;
  font-size: 0.99rem;
  
  a{
    color: $color4;
  }
}

.footer-links {
  margin-top: 10px;
}

.footer-links a {
  text-decoration: none;
}

.footer-links a:hover {
  color: $colorbialy;
}

